body {
  background: #222;
  margin: 0rem;
  min-height: 100vh;
  font-family: Futura, sans-serif;
}

.middle {
  margin: 10px 20% 10px 20%;
  display: inline;
  font-size: 7vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#heading {
  margin: 8% 20% 30px 20%;
  color: white;
  font-size: 11vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#canvas,
#text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
#text {
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-size: 8vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#text h1 {
  opacity: 0.9;
}

.btn {
  width: 100%;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
